.logos .sww, .logos .tpit{
	width: 200px;
	height: 200px;
	background-size: cover;
	transition: 0.3s ease-in-out;
}

.sww{
	float: left;
	background: url(../images/sww-main.png) no-repeat;
	margin: 60px 10px 0 121px;
}

.tpit{
	float: right;
	margin: 60px 121px 0 10px;
	background: url(../images/tpit-main.png) no-repeat;
}

.sww:hover{
	width: 200px;
	height: 200px;
	background: url(../images/sww-hover.png) no-repeat;
	background-size: cover;
}

.tpit:hover{
	width: 200px;
	height: 200px;
	background: url(../images/tpit-hover.png) no-repeat;
	background-size: cover;
}

.la{
	width: 50px;
	float: left;
	margin-left: 10px;
	padding-top: 157px;
}

.ra{
	width: 50px;
	float: right;
	margin-right: 10px;
	padding-top: 157px;
}

.sis-con{
	width: 300px;
	margin-top: 141px;
}

.fp{
	width: 150px;
	margin-top: 25px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	.logos .sww, .logos .tpit{
		width: 150px;
		height: 150px;
	}

	.sis-con{
		width: 30%;
		margin-top: 100px;
	}

	.sww{
		margin: 40px 10px 0 91px;
	}

	.tpit{
		margin: 40px 91px 0 10px;
	}

	.fp{
		width: 10%;
	}

	.la, .ra{
		padding-top: 112px;
	}

	.sww:hover, .tpit:hover{
		width: 150px;
		height: 150px;
	}
}


@media screen and (max-width: 992px){
	.logos .sww, .logos .tpit{
		width: 150px;
		height: 150px;

	}

	.sis-con{
		width: 110px;
		margin-top: 10px;
	}

	.block{
		display: block;
	}

	.sww{
		display: inline-block;
		float: none;
		margin: 0 auto;
	}

	.tpit{
		display: inline-block;
		float: none;
		margin: 20px auto;
	}

	.fp{
		width: 100px;
	}

	.la, .ra{
		display: none;
	}

	.sww:hover, .tpit:hover{
		width: 150px;
		height: 150px;
	}
}

@media screen and (max-width: 768px) and (max-height: 600px){
	.logos .sww, .logos .tpit{
		width: 100px;
		height: 100px;
	}

	.fp{
		width: 80px;
	}
}

