.nbc-logo img{
	margin-left: 24px;
}

.logo-reel{
	width: 150px;
}

.logo-reel-tpit{
	width: 200px;
}

.logo-item img{
	padding: 10px;
}



.sww-logo{
	width: 210px;
	transform: translate(-55%, -100%);
	transition: 0.5s ease;
}

.sww-logo:hover{
	transform: translate(-55%, -110%);
}

.tpit-logo{
	width: 210px;
	transform: translate(-65%, -135%);
	transition: 0.5s ease;
}

.tpit-logo:hover{
	transform: translate(-65%, -145%);
}

.sis-con{
	display: inline-block;
	width: 50%;
	margin-top: -45px;
	/*transform: translate(-0%, -15%);*/
}

.fp{
    width: 15%;
    margin: 0 auto;
}

.sww-pin{
	width: 20%;
	transform: translate(50%, -17%);
}

.tpit-pin{
	width: 20%;
	transform: translate(40%, -17%);
}

@media screen and (max-width: 1200px) {
    .sww-pin{
    	transform: translate(10%, -17%);
    }

    .sww-logo{
    	width: 250px;
    	transform: translate(-105%, -100%);
    }

    .tpit-pin {
        transform: translate(0%, -17%);
    }

    .tpit-logo {
        width: 250px;
        transform: translate(110%, -445%);
    }

    .sis-con{
    	margin-top: -141px;
    }

}

@media screen and (min-height: 600px) and (min-width: 992px) and (max-width: 1200px) {
	.sww-logo{
		width: 17%;
		transform: translate(-83%,-111%);
	}

	.sww-logo:hover{
		transform: translate(-83%,-121%);
	}
	
	.sww-pin{
		width: 20%;
		transform: translate(27%,-20%);

	}

	.tpit-logo{
		width: 17%;
		transform: translate(-46%,-140%);
	}

	.tpit-logo:hover{
		transform: translate(-46%,-150%);
	}

	.tpit-pin{
		width: 20%;
		transform: translate(61%,-20%);
	}

	.sis-con{
		transform: translate(0%, 58%);
	}

	.fp{
		transform: translate(0%, 20%);
	}
}